[2015-01-14 13:43] KrzysztofMadejski commented on #16
@Cain-Ish whatya think?

[2015-01-14 13:45] KrzysztofMadejski commented on #13
@Cain-Ish to warto przegadać jeszcze

[2015-01-15 15:36] Cain-Ish commented on #27
Fix polish order

[2015-02-03 12:40] debarbaro commented on #32
Bardzo prosze o natychmiastowe usunięcie mojej subskrypcji!!!!!

Jakub de Barbaro

W dniu sobota, 31 stycznia 2015 Krzysiek Madejski <notifications@github.com>
napisał(a):

--
Sent from Gmail Mobile

[2015-02-03 13:15] KrzysztofMadejski commented on #32
@debarbaro  usunąłem

[2015-02-04 17:28] debarbaro commented on #32
dalej dostaję informacje z github.może są też subskrybowane przez:

jakub@debarbaro.com
albo
jakub@debarbaro.pl
albo
debarbaro@o2.pl

Dzisiaj dostałem np:

Przeklikałem się na 3 z kolei widgecie i taki błąd mi wyskoczył. Dziwne, bo
na posła powinien mi przejść.

   - 3 widget
   - pierwsza pozycja z committees
   http://epforgpl.github.io/ParlData-Widgets/54ca98d0273a3904ff8b2826
   - lista członk

[2015-06-30 09:03] KrzysztofMadejski commented on #23
Arek, mapka?

Kafelek "Załóż CityLab w swoim mieście" odpalający formularz to też super pomysł.

[2015-06-30 09:29] KrzysztofMadejski commented on #8
Może jedna z tych?

![img_2950agnieszka-wanat 1](https://cloud.githubusercontent.com/assets/849975/8427913/3fffcb74-1f1b-11e5-9f13-8c1ce9d30e8d.jpg)
![20140520_183359](https://cloud.githubusercontent.com/assets/849975/8427914/40015aca-1f1b-11e5-97e4-77d8b106eed6.jpg)

[2015-07-02 08:16] ArekSoldon commented on #18
Na projekcie, copy CTA trzeba zmienić ale to już zostawiam wam :)

[2015-07-13 12:26] KrzysztofMadejski commented on #14
![bloglist](https://cloud.githubusercontent.com/assets/849975/8649489/266b4af8-296b-11e5-9a22-bd8a661a2245.jpg)

![blog_post](https://cloud.githubusercontent.com/assets/849975/8649493/28d41284-296b-11e5-8be5-17a31feb9f54.jpg)

[2015-07-13 12:27] KrzysztofMadejski commented on #14
@ArekSoldon: tylko zamiast "Blog" bedzie "Imie Nazwisko"? Fota z prawej? Opis danej osoby zamiast kategorii?

[2015-07-13 12:27] KrzysztofMadejski commented on #35
Layout na #36

[2015-07-13 12:31] KrzysztofMadejski commented on #34
Dwie beleczki (takie jak na #36):
- Wyróżnione projekty
- Archiwum projektów

Projekt powinien mieć checkboxa czy jest wyróżniony, czy nie.

[2015-07-13 12:33] KrzysztofMadejski commented on #16
Do zakodowania: pogrubić tekst, wyrównanie do lewej utrzymujemy

[2015-07-13 12:34] KrzysztofMadejski commented on #13
Kodzimy banerek u góry

[2015-07-13 12:34] KrzysztofMadejski commented on #8
- [ ] Do zakodowania: edycja głównego zdjęcia z poziomu Ustawień

[2015-07-15 03:50] ArekSoldon commented on #14
![blog_author](https://cloud.githubusercontent.com/assets/3994690/8690489/5b906d94-2ab5-11e5-9f60-ec634eb9f8f8.jpg)

[2015-07-15 04:08] ArekSoldon commented on #23
![brygady](https://cloud.githubusercontent.com/assets/3994690/8690670/ec044e84-2ab7-11e5-8637-511de9d3b727.jpg)

[2015-07-15 04:18] ArekSoldon commented on #37
![partnerzy](https://cloud.githubusercontent.com/assets/3994690/8690797/55f27c70-2ab9-11e5-872a-bf31bbd6e687.jpg)

[2015-07-16 06:58] KrzysztofMadejski commented on #23
- [ ] Copy "Chcesz prowadzić City Lab w swoim mieście? Napisz do nas!"
- [ ] nazwa w formacie "City Lab Warszawa", nie na odwrót
- [ ] do profilu CityLabu musi dojść dodanie lokalizacji

[2015-07-21 13:20] KrzysztofMadejski commented on #37
@ArekSoldon:  Horyzontalnie byłoby lepiej, jeden partner per wiersz, kilka moich propozycji poniżej.

![55f27c70-2ab9-11e5-872a-bf31bbd6e687-2](https://cloud.githubusercontent.com/assets/849975/8801553/e4d5e0e2-2fbb-11e5-81bb-f877c1b401ed.jpg)

[2015-07-21 13:27] KrzysztofMadejski commented on #14
Blog powinien pojawić się także na stronie brygad #23, nad partnerami, w podobnym układzie jak na stronie głównej.

[2015-07-21 13:33] KrzysztofMadejski opened #41 "Spięcie statystyk z forum"
Statystyki na stronie głównej powinny się komunikować z API forum (Discourse):
- osób zarejestrowanych na forum
- pomysłów zgłoszonych na projekty = [liczba wątków z kategorią pomysł](https://forum.kodujdlapolski.pl/c/pomysly)

[2015-07-21 14:05] KrzysztofMadejski opened #42 "Najbliższe wydarzenia"
Kiedyś na głównej stronie na banerku z fotką u góry i na stronie brygady pojawiała się kartka z kalendarza reklamująca najbliższe wydarzenie.

Najbliższe wydarzenia miały być zaciągane z FB.
Na stronie brygady miały być wyświetlane tylko wydarzenia z danego miasta lub rejonu, na stronie głównej najbliższe wydarzenie spośród wszystkich.
Kartka linkuje do wydarzenia na FB.

[2015-07-28 06:46] ArekSoldon commented on #23
![citylaby](https://cloud.githubusercontent.com/assets/3994690/8925090/1121e35a-3505-11e5-8974-a1f3dd27b314.jpg)

[2015-07-28 06:48] ArekSoldon commented on #37
![partnerzy](https://cloud.githubusercontent.com/assets/3994690/8925110/69653544-3505-11e5-8372-1662f10cd9ef.jpg)

[2015-07-28 06:50] ArekSoldon commented on #23
![citylaby](https://cloud.githubusercontent.com/assets/3994690/8925149/b467cb1a-3505-11e5-9f43-95ca2e34ca08.jpg)

[2015-08-06 16:52] pkliks commented on #29
@KrzysztofMadejski  - możesz mi to dokładniej rozpisać? Jakiś przykład?

[2015-08-06 16:54] pkliks commented on #25
@KrzysztofMadejski "Zamienić na CityLab." - co zamienić na citylab?

[2015-08-06 16:57] pkliks commented on #18
@KrzysztofMadejski w którym miejscu miałoby się to znaleźć?

[2015-08-06 16:59] pkliks commented on #15
@KrzysztofMadejski Niewiele do godziny pracy.

[2015-08-06 17:03] pkliks commented on #10
@KrzysztofMadejski - nie bardzo rozumiem co miałbym to zrobić?

[2015-08-07 08:33] KrzysztofMadejski commented on #10
Zrobić skrypt PHP dostępny z zewnątrz który będzie wypluwał plik csv.

Rekordów powinno być tyle ile linków do github wśród wszystkich projektów.

- iterując po projektach
  - iterując po linkach
    - jeżeli link zawiera github.com to jest wypisywany rekord csv

[2015-08-07 08:38] KrzysztofMadejski commented on #15
Czy responsive tez jest wliczony w to? Bo teraz menu responsive z logiem zajmuje pół ekranu na moim S3. Jeżeli ma być przyklejony to trzeba by je skompaktować w responsywie.

[2015-08-07 08:39] KrzysztofMadejski commented on #18
Na głównej stronie wyłącznie.

[2015-08-07 08:41] KrzysztofMadejski commented on #25
To jeszcze musze przemyśleć, dam znać w środę.

[2015-08-07 08:43] KrzysztofMadejski commented on #29
Odpuscmy to, zrealizujemy wiki w postaci artykułów na blogu, z nową kategorią FAQ

[2015-08-07 09:00] KrzysztofMadejski commented on #35
@pkliks A jak będą zrealizowane tłumaczenia wszystkich statycznych tekstów? Będą edytowalne?

[2015-08-07 09:05] KrzysztofMadejski commented on #34
Ustawianie czy projekt jest wyróżniony tylko przez admina.  @pkliks

[2015-08-07 09:12] pkliks commented on #15
mniejsze logo i hamburger zamiast linków otwierający overlaya z menu

[2015-08-07 09:16] pkliks commented on #35
Korzystam z wtyczki wpml umożliwia powiązanie postów/stron pomiędzy językami, co do tekstów w kodzie to też jest to obsłużone, tylko trzeba każdy tekst odpowiednio okodować, co będzie najbardziej czasochłonne jeśli chodzi to zadanie.

Co do wtyczki - jest płatna, mam wykupioną licencję developerską także może spokojnie być na mojej licencji jeśli chodzi o update'y

[2015-08-11 08:21] KrzysztofMadejski commented on #14
Dodatkowa kategoria `FAQ`, która będzie służyła za wiki.

[2015-08-12 12:15] KrzysztofMadejski commented on #12
odpuśćmy to

[2015-10-07 19:01] magul opened #43 "Na stronie Brygady Poznań projekt(y) nie renderują się poprawnie"
Na stronie Brygady Poznań (http://kodujdlapolski.pl/brygady/poznan/) jedyny obecnie projekt błędne się renderuje.

Dla przykładu projekty na stronie http://kodujdlapolski.pl/brygady/krakow/ umieszczają się poprawnie.

![brygadapoznan](https://cloud.githubusercontent.com/assets/1165138/10347898/6f9080cc-6d36-11e5-837d-03881bfe4357.png)

[2015-10-07 19:05] magul commented on #43
Dobra, doszedłem czemu tak się dzieje - wygląda na to, że do brygady musi należeć jeszcze osoba, która nie istnieje. Po wstawieniu jako admin kolejnej, nieuzupełnionej osoby wszystko renderuje się poprawnie.

Mam workaround, więc dla mnie można zamknąć.

[2015-10-08 12:56] KrzysztofMadejski commented on #43
Zamykam! PS. Będziemy odświeżać stronę.

[2015-10-08 12:56] #43 closed

[2015-11-25 10:24] KrzysztofMadejski opened #45 "Osoby, członkowie grup projektowych, autoryzacja"
Powinien w systemie istnieć obiekt osoby:
- imię nazwisko
- zdjęcie (jeżeli jest powiązanie z kontem WP to gravatar)
- dodatkowy tytuł wyświetlany na stronie użytkownika (np. "Lider w Warszawie")

Który można wykorzystywać:
- jako członka grupy projektowej (osoba niepowiązana z kontem)
- jako autora wpisów (osoba powiązana z kontem na WP)

Koordynatorzy projektów mogą tworzyć osoby niepowiązane z

[2015-11-25 11:19] KrzysztofMadejski commented on #28
Obrazki linkują do profili użytkowników

[2015-11-25 11:22] KrzysztofMadejski opened #46 "Strona użytkownika"
Dotyczy zarówno tych, którzy mają konto w systemie, jak i tych którzy byli dodani przez admina (#45)

Ref #14 (komentarz https://github.com/epforgpl/web-kodujdlapolski.pl/issues/14#issuecomment-121478614)

- Zdjęcie
- Imię i nazwisko
- twitter_bio jeżeli ustawione w profilu
- blog posty jeżeli ma konto na WP
- czy jest liderem -> linkowanie do strony miasta (tego brakuje na design)
- role w różnyc

[2015-11-25 11:30] KrzysztofMadejski commented on #37
- [ ] Dodać podział na sekcje: wybieranie z listy, które zbiory partnerów są wyświetlane (Koordynacja, Organizatorzy lokalni, Lokale goszczące, itp. tid.)

[2015-11-25 11:35] KrzysztofMadejski opened #47 "Layouty - poprawki"
Do dodania:
- [ ] rozwinąć stronę użytkownika - #46
- [ ] podział partnerów na sekcje - #47
- [ ] na stronie miasta wyciąganie najbliższych wydarzeń
- [ ] projekty - kategorie i filtrowanie tak jak na transparencee (technologia, status projektu, ... )
- [ ] na stronie głównej w PDF nie widzę informacji o najbliższych spotkaniach - teraz trzeba by wyswietlać listę kilku bo się dzieją równolegle

[2015-12-09 19:59] ArekSoldon commented on #47
rozwinąć stronę użytkownika - #46
![user](https://cloud.githubusercontent.com/assets/3994690/11696898/0c8f2480-9eb7-11e5-8a01-9372a5f1128b.jpg)

 podział partnerów na sekcje - #47
jakie sekcje? czy zostajemy przy liście jeden pod drugim?

 na stronie miasta wyciąganie najbliższych wydarzeń
ale to jest już :)
http://kodujdlapolski.pl/brygady/warszawa/

 projekty - kategorie i filtrowanie tak jak na

[2015-12-10 14:00] KrzysztofMadejski commented on #47
Partnerzy:
- zostajemy przy liście jeden pod drugim
- [ ] tą listę rozdzielamy na sekcje definiowane z admina (organizator, organizatorzy spotkań, .. - teraz jest podobnie: http://kodujdlapolski.pl/partnerzy/)

Strona użytkownika:
- [ ] czy tytuły sekcji "Zaangażowany w projekty", "Wpisy" nie są zbyt mało wyróżnione?
- [ ] nie potrzebujemy podziału wpisów na kategorie w tym miejscu

Wyciąganie spo

[2015-12-22 08:58] ArekSoldon commented on #47
![partnerzy](https://cloud.githubusercontent.com/assets/3994690/11951585/6cf1b542-a892-11e5-9d4f-b5ee9d62aeb1.jpg)
![main](https://cloud.githubusercontent.com/assets/3994690/11951587/6cf49438-a892-11e5-90c6-b69995736c9b.jpg)
![user](https://cloud.githubusercontent.com/assets/3994690/11951586/6cf3adc0-a892-11e5-8b2c-24e1cfa3f7a6.jpg)

psd
https://dl.dropboxusercontent.com/u/19244622/main_2015.psd.z

[2016-01-07 08:39] KrzysztofMadejski commented on #37
Finalnie:
![img](https://cloud.githubusercontent.com/assets/3994690/11951585/6cf1b542-a892-11e5-9d4f-b5ee9d62aeb1.jpg)

[2016-01-07 09:05] KrzysztofMadejski commented on #45
Finalny projekt:
![img](https://cloud.githubusercontent.com/assets/3994690/11951586/6cf3adc0-a892-11e5-8b2c-24e1cfa3f7a6.jpg)

[2016-01-07 09:36] KrzysztofMadejski opened #48 "Lista projektów"
![img](https://cloud.githubusercontent.com/assets/3994690/11696999/b4a479e0-9eb7-11e5-9289-292a374c0317.jpg)

[2016-01-07 09:52] KrzysztofMadejski opened #49 "Typy danych zarządzanych w WP + Strony"
- Strona główna #36
  - #41

- Partnerzy
 - Content: Link, Logo, Opis, "Czy logo ma się pojawiać w stopce"
 - Część wyświetlana na stronie Partnerów, gdzie mogą być grupowani, mozliwość ułożenia kolejności grup: #37
 - Sekcję partnerów może tez mieć strona Miasta i projektu

- Osoby, opisane na #45, możliwość powiązana osób z kontem na WP

- Spotkania/Miasta (obecne Brygady)
 - Layout strony wszys

[2016-01-18 18:17] KrzysztofMadejski opened #50 "Lokalne spotkania - link do grupy FB i Meetup"
Teraz naszło mnie (excusez-moi), że brakuje na stronie brygady konkretnej (np. http://kodujdlapolski.pl/brygady/warszawa/) powyższych serwisów, na których zbieramy ludzi zaangażownych. Myślę, że fajnie to by się zmieściło pod kafelkiem "Najbliższe spotkanie" jako dwa nowe kafelki: "Zapisz się na Meetup" -> http://www.meetup.com/Koduj-dla-Polski-Warszawa/ oraz "Dyskutuj na FB" -> https://www.facebo

[2016-01-19 20:43] KrzysztofMadejski opened #51 "Wyświetlanie statystyk z Github na projekcie"
Języki wykorzystywane https://api.github.com/repos/KlubJagiellonski/Politikon/languages
![github-languages](https://cloud.githubusercontent.com/assets/849975/12431082/b74a5ae6-bef3-11e5-9a29-d9775220e569.PNG)

Recent issues - https://api.github.com/repos/KlubJagiellonski/Politikon/issues
![github-issues](https://cloud.githubusercontent.com/assets/849975/12431358/5a7ebc4c-bef5-11e5-98d2-3017c16fda4

[2016-01-20 12:18] ArekSoldon commented on #50
![fb2](https://cloud.githubusercontent.com/assets/3994690/12448718/4f0b5a04-bf78-11e5-99f9-8a57261b40b1.jpg)
![meetup](https://cloud.githubusercontent.com/assets/3994690/12448717/4f0678e0-bf78-11e5-8e17-457f8b03c316.jpg)
![fb](https://cloud.githubusercontent.com/assets/3994690/12448719/4f0b794e-bf78-11e5-9237-8f130e11f649.jpg)

[2016-01-20 12:25] KrzysztofMadejski commented on #50
I jeszcze tekściki by się przydały na tych banerach:
- "Dyskutuj na FB"
- "Śledź spotkania na Meetup"

[2016-01-20 12:31] ArekSoldon commented on #50
tekściki wrzuca Kliksior w htmlu :)

[2016-01-20 15:12] KrzysztofMadejski commented on #50
Do dorzucenia na stronie brygady pojedynczej pod kafelkiem "Najbliższe spotkanie". W panelu admina powinny dojść dwa pola na linki.
FB - kafelek niebieski

[2016-01-22 10:22] KrzysztofMadejski commented on #14
@ArekSoldon dodasz nazwy kategorii, do których przypisany jest post w widoku pojedynczego posta?

CC: @pkliks

[2016-01-22 10:24] pkliks commented on #14
Ja bym proponował coś takiego obok daty:
![image](https://cloud.githubusercontent.com/assets/5563486/12508173/bfde128e-c0fa-11e5-8baa-ac798a53b084.png)
Co Wy na to?

[2016-01-22 10:25] ArekSoldon commented on #14
deal, tylko czerwone bo to będzie linkiem...

[2016-01-22 18:14] pkliks commented on #51
@KrzysztofMadejski co z tego chcesz i w jakiej formie żeby w ramach projektu było wyświetlane?

[2016-01-24 12:12] KrzysztofMadejski commented on #10
Celem tego jest, aby nasze projekty znalazły się na http://www.codeforamerica.org/brigade/projects

Format listy projektów organizacji: https://github.com/codeforamerica/brigade-information#projects-list)

- [ ] Muszę jeszcze ustalić, czy tworzymy jedną organizację na całe Code for Poland, czy per-brygady..

PS. Info dla wypełniających informacje (liderów spotkań i projektów): https://github.com/c

[2016-01-27 16:05] KrzysztofMadejski commented on #51
@pkliks:
- języki wykorzystywane tak jak widać
- issues - wyświetlić max 3 otwarte + przycisk see more kierujący do linka githubowego + `/issues`. Wygląd: Same issuesy, bez filtrów, najlepiej żeby wyglądały tak jak na github. Szukałem widgetów, ale nie znalazłem..
- commits - 3 ostatnie
- pod spodem link 'Go to Github/Przejdź do Github'
- nad tym wszystkim nazwa repo zaciągana z github

Wolisz, że

[2016-02-03 18:24] KrzysztofMadejski opened #52 "Poprawki"
- [x] Brak polskich tekstów.  Na stronie głównej: "Meetings", "Show all events", "Show all projects", "users registered on forum" itp.  "Got idea for app?" na innych -> "Got an idea for an app?" swoją drogą powinno być, ale copy to jeszcze później dopracujemy
- [x] Brak tłumaczeń pozycji w menu górnym (a Contact np. przetłumaczyłem)
- [x] Na głównej: "citylabs" zamieniamy na "local meetups" / "lok

[2016-02-03 18:34] KrzysztofMadejski commented on #52
@ArekSoldon zajrzyj proszę na stronę nową. Masz jakieś uwagi do layoutów?

W szczególności zajrzyj na:
- brygadę pojedynczą http://koduj.dev.inovia.pl/cities/poznan/
  - czy nie wyrównać meetings do banera (wstawię niższy swoją drogą)
  - czy meetings nie podrasować jakoś wyglądu
  - kafelek do FB wygląda trochę sucho, jakieś tło w niego wrzucimy tak jak na meetup?
  - czy podział na sekcje (Coord

[2016-02-03 18:52] #50 closed

[2016-02-03 18:53] KrzysztofMadejski opened #53 "Copy"
Na stronie projektu:
- "Team" / "Zespół"

Na stronie miasta:
- "Dyskutuj na Facebook"
- "Śledź spotkania na Meetup"
- "Coordinators" zamienić na "Organizers" / "Organizatorzy spotkań"
- "Members" / "Członkowie"
- "Meetings" zamienić na "Next event" / "Najbliższe spotkanie"

Mapa miast (spotkania)
- "Chcesz organizować spotkania w swoim mieście? Napisz do nas!" / "Do you want to organize events in

[2016-02-03 18:54] #48 closed

[2016-02-03 18:55] #47 closed

[2016-02-03 18:57] #46 closed

[2016-02-03 19:14] #45 closed

[2016-02-03 19:15] #42 closed

[2016-02-03 19:16] #41 closed

[2016-02-03 19:19] KrzysztofMadejski commented on #38
Działa dla autora, pozostaje sprawdzić dla lidera, jak będzie mógł dodawać wpisy

[2016-02-03 19:22] KrzysztofMadejski commented on #28
Zostało wdrożone kwadratowo

[2016-02-03 19:38] KrzysztofMadejski commented on #20
Pozostaje wyśrodkowanie partnerów w stopce i lekkie zwiększenie marginesów

[2016-02-07 13:38] pkliks commented on #52
@KrzysztofMadejski

Tu musimy najpierw wprowadzić po angielsku te hardcoded, taki wymóg pluginu do obsługi języków, także przygotuj listę tych tekstów w obu językach i pozmieniam.

Wygląd->Menu i tam synchronizuj menu pomiędzy językami, wtedy to zacznie działać.

[2016-02-07 14:07] pkliks commented on #52
@ArekSoldon potrzebny jest większy ten blank avatar: http://kodujdlapolski.pl/wp-content/uploads/2014/12/searchinf.jpg (105px na 105px minimum)

[2016-02-07 15:49] KrzysztofMadejski commented on #52
@pkliks - Teksty pl/en  są tutaj: https://github.com/epforgpl/web-kodujdlapolski.pl/issues/53

Ad. autor: ok! Czyli z roli "Project leader" nie korzystamy? Liderom projektów ustawiam rolę 'Autor' i ustawiam ich jako autorów projektu, tak?
![kdp-lider](https://cloud.githubusercontent.com/assets/849975/12873347/b434af66-cdba-11e5-8caf-b51387bdd991.PNG)

[2016-02-07 15:52] pkliks commented on #52
@KrzysztofMadejski Sorry, nie zauważyłem że ich tam nie listuje, myślałem, że w ogóle nie miałeś tej listy. Przyjrzę się temu

[2016-02-07 16:02] KrzysztofMadejski commented on #52
Możemy też zrobić tak, że włączymy "projekt liderów" w "autorów". Trochę mniej kontroli, ale do przeżycia jakby były problemy z rozdzieleniem tych praw dostępu.

[2016-02-07 21:42] ArekSoldon commented on #52
![avatar](https://cloud.githubusercontent.com/assets/3994690/12875490/ff879ea2-cdeb-11e5-8027-094fcbc73a97.png)

[2016-02-08 06:07] ArekSoldon commented on #52
brygadę pojedynczą http://koduj.dev.inovia.pl/cities/poznan/
czy nie wyrównać meetings do banera (wstawię niższy swoją drogą)
- tak wyrównajmy

czy meetings nie podrasować jakoś wyglądu
kafelek do FB wygląda trochę sucho, jakieś tło w niego wrzucimy tak jak na meetup?

- dodany poniżej

czy podział na sekcje (Coordinators, Members, Partners) jest wizualnie ok? #25

- mogli by coordinators być tez

[2016-02-08 14:00] pkliks commented on #52
@KrzysztofMadejski

Opcja dodana, tylko teraz trzeba jeszcze raz w ramach Filtrów pooznaczać projekty. Jak będzie gotowe daj znać schowam te stare

[2016-02-08 15:27] pkliks commented on #10
@KrzysztofMadejski w na przykład "Cichy Bohater" github pojawia się w linkach 3 razy, co w takiej sytuacji?

[2016-02-08 16:59] KrzysztofMadejski commented on #10
- [ ] W csv dodać jeszcze nagłówki jako pierwszą linię: name,description,link_url,code_url
- [ ] Aby rozróżnić wiele repozytoriów per projekt  dodajmy do nazwy w nawiasie nazwę repozytorium, czyli dla Cichego, `name = `
  - Cichy Bohater (cichybohater)
  - Cichy Bohater (cichybohater-api)
  - Cichy Bohater (cichybohater-mobile)

[2016-02-09 09:49] pkliks commented on #52
@KrzysztofMadejski Zerknij czy poziom dostępów dla autor i project leader jest teraz ok

[2016-02-09 10:32] KrzysztofMadejski commented on #52
- Poziom dostępu dla autora śmiga!
- [ ] Project leader powinien móc też tworzyć partnerów
- [ ] Gdy brak partnerów w projekcie to sekcja nie powinna się pokazywać (np. http://koduj.dev.inovia.pl/projects/wizualizacja-budzetu-lodzi/)
- [ ] Loga partnerów w projekcie i w brygadzie wyrównane do środka pionowo, jeżeli są bez opisów (tak jak na głównej) (nie są wyrównani np. na http://koduj.dev.inovia

[2016-02-09 12:48] pkliks commented on #52
@KrzysztofMadejski

Był, mi też tak średnio pasuje, wywaliłem.

[2016-02-09 14:20] KrzysztofMadejski commented on #52
Ustawiłem Filtry, możesz usunąć `Technologia` i `Status projektu` jako osobne kategorie.

[2016-02-09 14:25] pkliks commented on #52
To jest to: "Spotkanie Autora" ono nie ma ustawionych pozycji, nie będzie?

[2016-02-09 14:25] KrzysztofMadejski commented on #52
A sorki, to usuwam.

[2016-02-09 14:37] KrzysztofMadejski opened #54 "Embeddowanie prezentacji z Google"
https://docs.google.com/presentation/d/1LzHnJbhII0i14dqo-sJc_l0f-oPM2cdYfqWeqIeRc7Y/edit ->
https://docs.google.com/presentation/d/1LzHnJbhII0i14dqo-sJc_l0f-oPM2cdYfqWeqIeRc7Y/embed

[code]

[2016-02-09 14:37] #49 closed

[2016-02-10 11:34] KrzysztofMadejski commented on #52
- [ ] @ArekSoldon kategorie bloga się zlewają, dobrze byłoby miasta (które są pod spotkaniami) jakoś wyróżnić i je zblokować obok siebie (teraz się przeplatają z innymi kategoriami)
      , propozycja:
![blog-kategorie](https://cloud.githubusercontent.com/assets/849975/12946130/7623af44-cff2-11e5-9c05-4d23bcebe927.PNG)
- [ ] Nie wyświetla się profilowe autora, jeżeli pochodzi z gravatara na http:/

[2016-02-10 18:07] ArekSoldon commented on #52
Hmmm, ale to chyba inaczej, może bym zrobił inaczej, nie dawał bym kategorii spotkania jako tako... tylko zostwił miasta....

[2016-02-11 08:04] pkliks commented on #52
@KrzysztofMadejski

To już jest od wtorku wdrożone, przykład: http://koduj.dev.inovia.pl/projects/tristar-eye/ Natomiast problem, o którym piszesz prawdopodobnie będzie trzeba tak rozwiązać przy prezentacji z Google

[2016-02-11 10:16] pkliks commented on #51
@KrzysztofMadejski propozycja: http://koduj.dev.inovia.pl/projects/cichy-bohater/ (issues zaciągają się z web-kodujdlapolski.pl jak będzie ok to zmienię żeby pobierało normalnie dla tego projektu. Daj znać czy taka forma prezentacji będzie ok no i żeby @ArekSoldon Ewentualnie podrasował

[2016-02-11 17:52] KrzysztofMadejski commented on #52
Tak, Filtry się zmieniły w międzyczasie. Niech teraz losuje z kategorii 'Status prac -> Aktywny rozwój'

[2016-02-11 18:05] KrzysztofMadejski commented on #51
Trochę sucho to wygląda. @ArekSoldon, jakieś pomysły?
- [ ] wywaliłbym beleczkę czarną spod języków
- [ ] daty formatować jako "5 February/Feb 2015", dodać w issues czas aktualizacji, aby był tekst `#10 opened on 12 Dec 2014 by KrzysztofMadejski  updated 2 days ago`
- [ ] w commitach dodać avatary osób
- [ ] na przyciskach można dać tytuł linku - "Github - Android" zamiast "Go to Github"
- [ ] "li

[2016-02-11 18:07] pkliks commented on #51
@KrzysztofMadejski

to nie czarna belka tylko ten pasek procentowy, umknęło mi dopisanie pytania: według jakiego klucza dawać kolory językom

[2016-02-11 18:11] ArekSoldon commented on #51
link Wątek na forum" tam ginie, może dać wszystkie linki jako buttons, rozdzielić to jakoś? To wyzwanie, żeby dobrze wyglądało i przy embedowaniach i przy prostej liście linków. @ArekSoldon ?

bo jak nawaliliśice tyle treści to co ma nie ginąć?!
Po co ten fb tam?

czy tego gita nie da się zrobić jednego dla wszystkich a nie 3-4 ?

i jak już chcecie wszystkie embeddy (choć nie wiem czemu ma służyć

[2016-02-12 10:06] KrzysztofMadejski commented on #51
Github ma zaszyte na stałe, u nas możemy losować z jakiejś palety. Beleczkę proponuję i tak wywalić.

@ArekSoldon gita jednego się nie da. Forum będzie. :P Jest opcja, żeby wyłączyć poszczególne embedy.

[2016-02-15 13:52] KrzysztofMadejski commented on #52
Zebrane poprawki od liderów

@ArekSoldon
- [ ] Na pojedynczym projekcie dać gdzieś (pod tekstem) przycisk "Skontaktuj się z koordynatorem" / "Contact project leader" (funkcjonalnie też formularz, tak jak Dołącz jako)
- [ ] Na pojedynczym projekcie wyświetlać wartości kategorii; Podobnie to robiliśmy w [TranspaenCEE (technology)(topics)](http://transparencee.org/project/mycountry/); np.
[code]
- [

[2016-02-16 12:59] pkliks commented on #52
@KrzysztofMadejski

Nie wszyscy są dodani w wersji angielskiej. Edycja partnerów w stopce znajduje się w głównym menu Ogólne. W górnym pasku znajduje się zmiana języka który się edytuje.

[2016-02-16 13:01] pkliks commented on #54
@KrzysztofMadejski który adres będzie podawany? ten z embed czy ma lecieć po strongu i zmieniać edit na embed?

[2016-02-16 13:06] KrzysztofMadejski commented on #54
https://docs.google.com/presentation/d/1LzHnJbhII0i14dqo-sJc_l0f-oPM2cdYfqWeqIeRc7Y

Niech sprawdza czy się konczy na embed czy edit, jak edit to niech zmieni.

[2016-02-16 13:16] #54 closed

[2016-02-16 13:29] pkliks commented on #51
@KrzysztofMadejski co z forum chcesz mieć w embedzie?

[2016-02-16 14:44] KrzysztofMadejski commented on #51
https://www.discourse.org/about/

   Use our [WordPress plugin](https://github.com/discourse/wp-discourse) to integrate a Discourse community into your blog. Or embed Discourse into [static HTML sites](https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963).

W embedzie chciałbym mieć konkretny wątek. Co dokładnie ma umożliwiać embed - tu już bym pozostał przy tym co jest o

[2016-02-16 15:00] pkliks commented on #51
Tego pluginu to tak out of the box raczej nie będziemy w stanie użyć, raczej bym się skłaniał ku tej drugiej opcji z embedem javascriptowym, tylko tutaj trzeba wykonać pewne działania po stronie admina forum: https://meta.discourse.org/t/embedding-discourse-comments-via-javascript/31963 -> Configuring Discourse for Embedding (simple setup) - mógłbyś zerknąć i przygotować żebym mógł przetestować?

[2016-02-16 17:02] KrzysztofMadejski commented on #51
Dodałem embeddable host, żeby poprawnie CORS obsługiwał. Usera nie uzupełniałem, bo ten kodma korzystać z istniejących wątków, a nie tworzyć nowe.

Jako `topicId` powinieneś pewnie podać to co się znajduje po slug, czyli z `https://forum.kodujdlapolski.pl/t/gry-charytatywne-implementacja/2444/29` powinno być wybrane `2444`, 3 element z path (bo przeważnie nie będzie końcowego /29). Daj znać czy ch

[2016-02-17 14:26] pkliks commented on #51
Coś jednak chyba nie śmiga bo:
![image](https://cloud.githubusercontent.com/assets/5563486/13112398/c6c33a80-d58a-11e5-8c49-351c318a328f.png)

[2016-02-17 16:13] KrzysztofMadejski opened #55 "Embeddowanie FB na Firefoxie"
Wywala mi się z komunikatem: `Zasób pod adresem „http://connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.5&appId=155938441448129” został zablokowany, ponieważ jest włączona ochrona przed śledzeniem.[Więcej informacji](https://developer.mozilla.org/pl/Firefox/Privacy/Tracking_Protection) cichy-bohater`

http://koduj.dev.inovia.pl/projects/cichy-bohater/

Na pierwszy rzut oka stawiam, że to dlat

[2016-02-17 17:36] KrzysztofMadejski opened #56 "Firefox: awatary"
http://koduj.dev.inovia.pl/projects/cichy-bohater/
![firefox-zdjecia](https://cloud.githubusercontent.com/assets/849975/13118565/1f0feef8-d5a5-11e5-9a20-1dc5cafd82df.PNG)

http://koduj.dev.inovia.pl/kontakt/
![firefox-zdjecia2](https://cloud.githubusercontent.com/assets/849975/13118589/3da35116-d5a5-11e5-8695-5c635324bf5b.PNG)

http://koduj.dev.inovia.pl/cities/warszawa/
![firefox-zdjecia-brygada]

[2016-02-17 18:16] #56 closed

[2016-02-17 18:21] pkliks commented on #55
Nie, to akurat kwestia tego, że Firefox w trybie prywatnym blokuje takie zasoby

Więcej tutaj: https://developer.mozilla.org/pl/Firefox/Privacy/Tracking_Protection

[2016-02-17 21:37] KrzysztofMadejski commented on #55
Dzięki za info! Nawet nie mam prywatnego, ale musiałem odpalić jakiś do not track, czy coś.

[2016-02-17 21:37] #55 closed

[2016-02-17 21:38] KrzysztofMadejski commented on #51
Poprawione.

[2016-02-17 22:09] KrzysztofMadejski commented on #52
- [ ] Jeszcze wyświetlanie avatarów organizatorów: http://koduj.dev.inovia.pl/cities/gop-katowice/ (Ania Krawczyk raz ok, raz brakuje)
- [ ] I tu Wojtka coś wydłużyło: http://koduj.dev.inovia.pl/cities/poznan/
- [ ] Embeddowanie właściwego linka z forum, bo teraz są wszędzie gry charytatywne

RWD:
- [ ] Na stronie brygady możemy dać najbliższe spotkania zaraz pod zdjęciem? I wywalić listę członków

[2016-02-17 22:15] ArekSoldon commented on #52
![screen-shot-2016-02-17-at-23 04 28](https://cloud.githubusercontent.com/assets/3994690/13126807/58b4c83c-d5cc-11e5-8c68-0314b96fb30b.jpg)

ok, dodajmy cień pod menu... @pkliks dodasz jakiś standardowy?

[2016-02-18 10:03] pkliks commented on #52
tu by się przydało żebyście wrzucali zdjęcia wykadrowane w kwadrat

[2016-02-18 10:12] KrzysztofMadejski commented on #52
- [ ] zamiast "Program Fundacji ePaństwo" dać "Społeczność to fundament" (podsyłam Kliks na mail)

Zdjęcia jak WP słabo wykadruje to można poprawiać, ale każde kadrować to strasznie dużo pracy. A przecież w WP można zadać, aby sam kadrował.

[2016-02-18 10:15] pkliks commented on #52
jaki system/przeglądarka?

[2016-02-18 12:17] KrzysztofMadejski commented on #52
com.android.browser 4.4.4-93cb...

[2016-02-18 13:06] KrzysztofMadejski commented on #52
Wartości kategorii wklejajmy w projekcie pod tekstem jego opisu, nad "Skontaktuj się z koordynatorem" w postaci nagłówek strongiem:

![kdp-kaegorie](https://cloud.githubusercontent.com/assets/849975/13144117/d53abbd8-d648-11e5-8032-d29ea236b688.PNG)

[2016-02-18 14:29] #51 closed

[2016-02-18 14:40] KrzysztofMadejski commented on #10
Wygląda na to, że ok. Finalnie to sprawdzę, jak wepnę to API amerykańskiego.

[2016-02-18 15:29] KrzysztofMadejski commented on #52
Uff ;-)

[2016-02-18 15:29] #52 closed

[2016-02-18 15:29] #53 closed

[2016-02-19 16:36] KrzysztofMadejski opened #1 "Brak opcji "dołącz jako""
http://kodujdlapolski.pl/projects/tram-gps/ nie wyświetlają się wartości z kategorii "dołącz jako" jako otwarte pozycje na liście członków. Powinno być "wdrożeniowiec w Warszawie" oraz "ambasador w twoim mieście"

[2016-02-19 17:01] #1 closed, assigned to pkliks

[2016-02-25 11:20] KrzysztofMadejski opened #2 ""Community is the FUNDAMENT"
Grafika na górę strony na angielską wersję.

[2016-02-25 18:41] ArekSoldon commented on #2
[spolecznosc_en.svg.zip](https://github.com/epforgpl/web-kodujdlapolski.pl/files/147107/spolecznosc_en.svg.zip)

[2016-02-26 22:41] KrzysztofMadejski opened #3 "Mozilla: avatar blank się nie pokazuje"
![kdp-blank](https://cloud.githubusercontent.com/assets/849975/13367359/41757c58-dce2-11e5-89e6-3fe2cda7f1e3.PNG)

Skąd taki dziwny link? http://2.gravatar.com/avatar/bc908cc5e339450ba916a798f72b81cb?s=105&amp;d=http%3A%2F%2Fnew.kodujdlapolski.pl%2Fwp-content%2Fthemes%2Fkdp%2Fimages%2Fblank-person.png&amp;r=g

Dlaczego nie po prostu http://kodujdlapolski.pl itd.?

[2016-02-26 22:42] KrzysztofMadejski opened #4 "Partnerzy - Zrezygnować z tytułu wyświetlanego na czerwono"
Na stronie:
- [x] http://kodujdlapolski.pl/partnerzy/
- [x] na stronie poszczególnych projektów (jeżeli wyświetla się opis)

[2016-02-26 22:45] KrzysztofMadejski opened #5 "Blog - wyjustowanie tekstów"
- [x] Wyjustowanie tekstu na blogu

[2016-02-26 22:47] KrzysztofMadejski opened #6 "Blog - tytuł"
Przeniesienie tytułu do góry, jako najważniejszego.

Baner wyrównany z autorem.

Np. tu: http://kodujdlapolski.pl/zostan-organizatorem/
![kdp-blog-top](https://cloud.githubusercontent.com/assets/849975/13367471/3941deea-dce3-11e5-97fa-59a5b1eadebf.PNG)

[2016-02-26 22:48] KrzysztofMadejski opened #7 "Pojedynczy komunikat ma zgłoszenie pomysłu"
![kdp-apka](https://cloud.githubusercontent.com/assets/849975/13367529/7bdf0c6e-dce3-11e5-89a1-1b7aba53ce68.PNG)

Zamiana tekstu na "Zgłoś wyzwanie do rozwiązania!" / "Share a challenge to solve!"

[2016-02-26 22:49] KrzysztofMadejski opened #8 "Pojedynczy komunikat na organizację brygady"
![kdp-organizuj](https://cloud.githubusercontent.com/assets/849975/13367544/974ef2e8-dce3-11e5-9d1d-13ebf971a762.PNG)

Zamiana na "Organizuj spotkania w swoim mieście!" / "Organize events in your city!"
link: mailto:kontakt@kodujdlapolski.pl?subject=Chcę organizować spotkania w moim mieście

[2016-02-26 22:50] KrzysztofMadejski opened #9 "O nas"
TL/DR

Przygotować materiał pod infografiki

[2016-02-26 22:51] KrzysztofMadejski opened #10 "Projekt: treść"
Zastanowić się nad ułożeniem treści w projekcie. Może tagi powinny być u góry jako istotne podstawowe informacje

![kdp-projekt-tresc](https://cloud.githubusercontent.com/assets/849975/13367591/d798ee3a-dce3-11e5-9a8f-9dda8d2e6085.PNG)

[2016-02-26 22:52] KrzysztofMadejski opened #11 "Embed githuba"
Zastanowić się nad tym jak najlepiej pokazać aktywność na Github.

Wskazówka: embedować maks 1 repo.

![kdp-embed-github](https://cloud.githubusercontent.com/assets/849975/13367604/f922b162-dce3-11e5-858e-b9f873ebfddb.PNG)

[2016-02-26 22:53] KrzysztofMadejski opened #12 "Społeczność to fundament"
powinna linkować do partnerów, wyjaśniając

[2016-02-26 22:55] KrzysztofMadejski opened #13 "Główna - justowanie tekstów"
![kdp-glowna-1](https://cloud.githubusercontent.com/assets/849975/13367634/4441573e-dce4-11e5-9008-c0af47542853.PNG)

[2016-02-26 22:55] KrzysztofMadejski opened #14 "Przemyśleć ułożenie treści na głównej stronie"
także #9

[2016-02-26 22:55] KrzysztofMadejski opened #15 "Justowanie opisów projektów"
![kdp-justowanie-tekstu-projktu](https://cloud.githubusercontent.com/assets/849975/13367662/741ea51a-dce4-11e5-95cf-5b1e8774f351.PNG)

[2016-02-26 22:58] KrzysztofMadejski opened #16 "Tekst wychodzi na box wydarzeń"
Ubuntu 14.04
Mozilla 44

![kdp-glowna-box](https://cloud.githubusercontent.com/assets/849975/13367704/c256cadc-dce4-11e5-9aff-a9ae171fc02c.PNG)

[2016-02-29 19:17] ArekSoldon commented on #6
To przestawak w kodzie na minutę dla kliksa, czy chcesz wizualkę?

[2016-02-29 19:17] ArekSoldon commented on #5
Justowanie kliks,
wyróżnienie zróbmy po prostu boldem leada....

[2016-03-01 09:49] KrzysztofMadejski commented on #6
Przestawak raczej, chciałem twoją aprobatę przed wdrożeniem.

I gdzie wtedy "10 lutego 2016 | Spotkania" powinien wylądować?

[2016-03-01 09:54] ArekSoldon commented on #6
![screen-shot-2016-03-01-at-10 50 37](https://cloud.githubusercontent.com/assets/3994690/13423567/eae9f6cc-df9b-11e5-8666-d3e47f0fe676.png)

[2016-03-01 10:05] KrzysztofMadejski commented on #6
Dzięki!

[2016-03-01 22:02] KrzysztofMadejski opened #17 "Forum i IRC"
To mylące, że linkuje na zewnątrz.

[2016-03-01 22:03] KrzysztofMadejski opened #18 "Logo FB nie wyświetla się w niektórych przeglądarkach + ekstra linki"
IceWeasel (prawy div ląduje poniżej lewego)

[2016-03-01 22:11] KrzysztofMadejski opened #19 "Linki nie są wyróżnione"
Gubią się przy innych embedach (np. [w bandzie](http://kodujdlapolski.pl/projects/band-bank-nasadzen-drzew/))

[2016-03-01 22:17] KrzysztofMadejski opened #20 "Spersonalizowane "Skontaktuj się z koordynatorem""
Żeby wiedzieć, że się pisze do konkretnej osoby.

- [x] dodać pole w edycji projektu
- [x] jak wypełnione to wyświetlać "Skontaktuj się z [Celownik imienia] - koordynatorem projektu"
- [x] jak puste to wyświetlić "Skontaktuj się z koordynatorem"

Przed:
![kdp-koordynator](https://cloud.githubusercontent.com/assets/849975/20574856/e5d5c22c-b1b6-11e6-9dd7-ebce1d6f5a63.PNG)

Po:
![kdp-koordynator2](h

[2016-03-02 13:09] #16 closed, assigned to pkliks

[2016-03-02 15:16] nausicaaa opened #21 "Nie działa wysyłanie wiadomości do koordynatora projektu Politikon"
Po wypełnieniu formularza i naciśnięciu "send" nic się nie dzieje. Zakładam, że formularz wcale się nie wysyła. Chrome Version 48.0.2564.103 (64-bit)

[2016-03-02 15:24] KrzysztofMadejski commented on #21
Przy okazji, w polskiej wersji językowej przycisk powinien mieć etykietę "Wyślij"

[2016-03-03 15:30] KrzysztofMadejski opened #22 "Podpiąć domenę codeforpoland.pl"
Tak, żeby przekierowywała na angielską wersję.

@pkliks czy WPML można tak skonfigurować, żeby serwował angielską wersję spod innej domeny niż polską?

[2016-03-04 09:46] KrzysztofMadejski opened #23 "Strona Not Found - 404"
Ładniej wystylowana niż obecnie (Np. dla http://kodujdlapolski.pl/projekty/baterie-malopolska-pl/) .

Nagłówek: "404" (może bardzo dużą czcionką) "Nie znaleziono strony"
Tekst "Przejdź do <a href> strony głównej</a>"

[2016-03-04 10:25] KrzysztofMadejski opened #24 "Sortowanie projektów"
Na początek te z `Status prac = aktywny rozwój` poźniej `Zawieszone`, w drugiej kolejności sortowania te które `Status projektu = funkcjonujące` , poźniej `Publiczne testy` i `Rozwój`.
Tak aby na początek szły te AktywnyRozwój+Funkcjonujące, a później AktywnyRozwój+PubliczneTesty itd.

http://kodujdlapolski.pl/en/projects

[2016-03-08 16:06] KrzysztofMadejski commented on #22
codeforpoland.pl - jako główna w WPML
codeforpoland.org

[2016-03-08 16:06] #22 closed, assigned to nobody

[2016-03-10 12:03] #21 closed, assigned to pkliks

[2016-03-14 13:02] KrzysztofMadejski opened #25 "Tłumaczenie funkcji ogólnych oraz opisów użytkowników na angielski"
Tłumaczenie np. "Koordynator ogólnopolski"
oraz "Koordynuje program Koduj dla Polski, zarządza projektami technologicznymi" na http://codeforpoland.org/author/krzysztof_madejski/

Dwa nowe pola w profilu użytkownika.

[2016-03-15 21:30] #13 closed, assigned to pkliks

[2016-03-15 21:33] pkliks commented on #6
@KrzysztofMadejski pierwszy akapit zmniejszyć i pogrubić jak na tym co Arek wrzucił?

[2016-03-15 21:42] pkliks commented on #3
Ponieważ gravatar zawsze zwraca jakiś adres, także ustawiłem ten KdP blank jako domyślny i jeśli nie było ustawionego zdjęcia w WP to ładował z gravatara ustawiony lub blanka. Dodałem warunek że jeśli w gravatarze jest blank to ładuje blanka z lokalnego serwera

EDIT: warunek nie spełnił swojego zadania

[2016-03-15 21:51] pkliks commented on #3
Ok, działa. Idzie przez gravatar z wyżej wymienionego powodu, ale poprawiłem adres (miał zapamiętany z new.kodujdlapolski.pl dlatego nie działało)

[2016-03-15 21:51] #3 closed, assigned to pkliks

[2016-03-15 21:54] pkliks commented on #18
@KrzysztofMadejski dałoby radę ogarnąć screen? Nie bardzo mam dostęp do IceWeasel i nie wiem o który element chodzi.

[2016-03-16 07:58] KrzysztofMadejski commented on #6
Tak, poproszę!

[2016-03-16 17:34] #6 closed, assigned to pkliks

[2016-04-13 15:02] KrzysztofMadejski opened #26 "Usunąć pogrubienie z pierwszego akapitu w opisie partnerów"
Kiedyś tego nie było. Pewnie weszło wraz z modyfikacjami wyglądu opisu projektów (gdzie miało dojść i doszło pogrubienie), lub postów na blogu.

- [x] Na stronach projektów
- [x] Na stronie Partnerzy jest ok

Np. Na http://kodujdlapolski.pl/projects/aplikacja-dla-schroniska-promyk/ nie powinno być pogrubienia na "Volanto to trójmiejska spółka programistyczna (software house), zajmująca się komplek

[2016-04-13 15:49] KrzysztofMadejski opened #27 "Captcha"
Honeypot?

Albo coś podobnego, bo przychodzi spam z formularzy, np.

[2016-04-15 14:23] KrzysztofMadejski opened #28 "Logo fundamentu w stopce"
Logo dostępne tu: http://transparencee.org/about/
Powinno być przeniesione do kodu/images.

[2016-07-13 15:33] KrzysztofMadejski opened #29 "Analytics dla strony Koduj"
Podpiąć PIWIKa

CC: @wojteksanko

[2016-07-26 13:37] WojtekSanko commented on #29
Podpiąłeś?

[2016-07-26 15:25] KrzysztofMadejski commented on #29
Podpięte

[2016-07-26 15:25] #29 closed, assigned to nobody

[2016-07-28 14:20] KrzysztofMadejski commented on #28
Poprawione też w partnerach

[2016-07-28 14:20] #28 closed, assigned to nobody

[2016-07-28 16:25] KrzysztofMadejski opened #30 "Wyświetlanie Issues jest na sztywno zaszyte pod to repo, zamiast dynamicznego pobierania zgodnie z linkiem do Github"
Np. http://kodujdlapolski.pl/projects/streetmix-net-po-polsku/ powinno wyświetlać Issues z https://github.com/codeforamerica/streetmix/issues/ (link "Zobacz więcej" dobrze działa

Zgłoszone tu https://twitter.com/danek_szy/status/758669146196480000

[2016-07-28 20:42] danekszy commented on #30
https://github.com/epforgpl/web-kodujdlapolski.pl/blob/2a875e2f557ea33890d8b8f0f7f819139144e4db/single-projects.php#L182
Problemem zdaje się być zakomentowana niewłaściwa linia, aczkolwiek nie znam podłoża sprawy ani ew. motywu takiego działania. Być może jest to celowe, wiec nie zgłaszam PR-a, tym bardziej, że jest to raczej mała zmiana...

[2016-07-29 08:47] #30 closed, assigned to pkliks

[2016-07-29 08:48] KrzysztofMadejski commented on #30
To jakaś pozostałość po debuggowaniu pewnie. Dzięki za wskazanie miejsca, już poprawiłem. Po 12h cache się wyczyści i wszytkie projekty powinny mieć aktualne issues.

[2016-11-09 15:09] #12 closed, assigned to KrzysztofMadejski

[2016-11-09 15:09] #2 closed, assigned to nobody

[2016-11-09 15:13] KrzysztofMadejski opened #31 "Dodanie opisu do brygad"
Edytowany z poziomu edycji brygady, może być pusty (wtedy nie wyświetlać nagłówka).

![brygada-opis](https://cloud.githubusercontent.com/assets/849975/20142942/2932a45c-a697-11e6-9840-fde97b6202da.PNG)

[2016-11-09 15:13] KrzysztofMadejski opened #32 "Wprowadzenie szyfrowania https"

[2016-11-09 15:18] KrzysztofMadejski opened #33 "Data modyfikacji na stronie projektu"
Przed listą przypisanych kategorii wyświetlać datę ostatniej modyfikacji opisu.

![data-aktualizacji](https://cloud.githubusercontent.com/assets/849975/20599455/8548a814-b24e-11e6-9e79-0bd40ef90593.PNG)

[2016-11-09 16:48] #31 closed, assigned to nobody

[2016-11-21 12:41] KrzysztofMadejski opened #34 "Wyświetlanie kategorii na stronie projektów"
Prawdopodobnie aktualizacja do nowszej wersji WP rozjechała wyświetlanie kategorii w projektach:
![kategorie](https://cloud.githubusercontent.com/assets/849975/20482981/0473a1e0-aff0-11e6-80e8-b12f8377d456.PNG)
Np. http://kodujdlapolski.pl/projects/otwarty-schemat-tras-turystycznych-siec-tras-rowerowych/ powinno wyświetlać więcej miast

- [x] Wyświetlana jest tylko jedna wartość w każdej grupie ka

[2016-11-23 17:03] KrzysztofMadejski opened #35 "Rejestracja nowych użytkowników"
Umożliwić rejestrację nowych użytkowników i poprawić formularz rejestracji:

![kodujdlapolski-rejestracja](https://cloud.githubusercontent.com/assets/849975/20571176/b0d40c1a-b1a6-11e6-8a78-442e37f9df84.PNG)

- [x] pierwsze pole nazywa się email, a to tak naprawdę nazwa użytkownika, niech nazwa usera będzie tworzona automatycznie na podstawie emaila
- [x] pola Funkcja, Telefon, i Email kontaktowy

[2016-11-23 18:30] KrzysztofMadejski commented on #27
To już poprawione.

[2016-11-23 18:30] #27 closed, assigned to nobody

[2016-11-23 18:40] KrzysztofMadejski commented on #18
## Firefox 47.0.2 - działa
![firefox](https://cloud.githubusercontent.com/assets/849975/20574379/6b95b3c0-b1b4-11e6-9aa3-d3291f16c4d9.PNG)

## Chrome 54.0.2840.99 m - nie działa, schował się
![chrome-fb](https://cloud.githubusercontent.com/assets/849975/20574437/b5bddd4c-b1b4-11e6-9b83-e6d97fa96eb1.PNG)

[2016-11-23 18:41] KrzysztofMadejski commented on #18
Poza tym prosiłbym o dodanie większej ilości linków, w sumie ten pasek powinien zawierać: ikony
- [x] IRC przeniesiony z menu tutaj z logiem http://www.43oh.com/wp-content/uploads/2010/11/msp430_ircl_channel_43oh.png
- [x] YouTube linkujący do https://www.youtube.com/playlist?list=PLa_8n5BEWSblFfplDjma-1nPGNoUqwwzL
- [x] Twitter https://twitter.com/kodujdlapolski lub https://twitter.com/codeforpol

[2016-11-23 18:53] KrzysztofMadejski commented on #19
## Wygląd przed

![linki-obecnie](https://cloud.githubusercontent.com/assets/849975/20574758/763095e6-b1b6-11e6-8260-614521ae33f6.PNG)

## Proponowany wygląd po

![link-po](https://cloud.githubusercontent.com/assets/849975/20574763/7b88a93e-b1b6-11e6-8bd3-8def17d9b9aa.PNG)

[2016-11-23 18:56] KrzysztofMadejski commented on #20
Przed:
![kdp-koordynator](https://cloud.githubusercontent.com/assets/849975/20574856/e5d5c22c-b1b6-11e6-9dd7-ebce1d6f5a63.PNG)

Po:
![kdp-koordynator2](https://cloud.githubusercontent.com/assets/849975/20574907/2823ddd0-b1b7-11e6-958b-a811eeda05d3.PNG)

Moim zdaniem nie ma, aż tak dużej wartości dodanej żeby to ręcznie wpisywać w projekcie, ale może..

[2016-11-23 18:59] KrzysztofMadejski commented on #17
Może i nie powinno, ale gdzie to dodać? Obok FB i Twittera? Zrobi się tam tłoczno..

[2016-11-23 19:00] KrzysztofMadejski commented on #15
Propozycja:
![opis-justified](https://cloud.githubusercontent.com/assets/849975/20574986/89a0fb1a-b1b7-11e6-8ddb-474ac0b7ccfc.PNG)

[2016-11-23 19:08] KrzysztofMadejski commented on #4
# Przed
![partnerzy-po2](https://cloud.githubusercontent.com/assets/849975/20575213/96c006e6-b1b8-11e6-86f3-5e23f61bdd0f.PNG)

# Po
![partnerzy-po](https://cloud.githubusercontent.com/assets/849975/20575218/9ae66080-b1b8-11e6-8289-88f4e9e3a604.PNG)

[2016-11-24 12:54] KrzysztofMadejski opened #36 "Przegadać kategorie Status Prac i Status Projektu"
Czy są jasne , czy są sensowne.

[2016-11-24 13:19] KrzysztofMadejski commented on #17
Forum zostaje, irc przeskakuje, uwzględnione w #18

[2016-11-24 13:19] #17 closed, assigned to nobody

[2016-11-24 13:23] KrzysztofMadejski commented on #10
Zostawiamy tak jak jest

[2016-11-24 13:23] #10 closed, assigned to KrzysztofMadejski

[2016-11-29 18:56] pkliks commented on #20
Przykładowe z uzupełnionym imieniem: http://kdp.dev.inovia.pl/projects/strona-kodujdlapolski-pl/

[2016-11-29 18:56] #20 closed, assigned to nobody

[2016-11-29 18:58] pkliks commented on #5
Ustawione, można nadpisać domyślne ustawienie z pomocą edytora WP

[2016-11-29 18:58] #5 closed, assigned to nobody

[2016-11-29 19:08] pkliks commented on #19
Coś takiego: http://kdp.dev.inovia.pl/projects/band-bank-nasadzen-drzew/ ?

[2016-11-29 19:14] KrzysztofMadejski commented on #19
Perfetto, może marginesy pomiędzy samymi przyciskami linków trochę mniejsze..

[2016-11-29 19:16] #34 closed, assigned to nobody

[2016-11-29 19:37] #33 closed, assigned to nobody

[2016-11-29 19:39] #7 closed, assigned to KrzysztofMadejski

[2016-11-29 19:43] pkliks commented on #15
Tak jak przy blogu, ustawienie można nadpisać w edytorze WP

[2016-11-29 19:43] #15 closed, assigned to KrzysztofMadejski

[2016-11-29 19:46] KrzysztofMadejski commented on #20
Po angielsku nie działa, później będziesz tłumaczył?

Zamień proszę "Contact with coordinator" na "Contact coordinator", a w wersji z imieniem na "Contact [imie] - project coordinator"

[2016-11-29 19:51] pkliks commented on #20
Działa, tylko link przełączania języków kierował na codeforpoland.org - a tu zmian nie ma ;). Zmieniłem konfigurację wtyczki, także będzie już działać angielska na testowej - http://kdp.dev.inovia.pl/en/projects/strona-kodujdlapolski-pl/

[2016-11-29 19:57] pkliks commented on #25
http://kdp.dev.inovia.pl/en/author/krzysztof_madejski/

[2016-11-29 20:42] pkliks commented on #24
Nie wszystkie mają oba statusy ustawione, wtedy lądują na końcu (najlepiej uzupełnić)

[2016-11-29 20:42] #24 closed, assigned to nobody

[2016-11-29 21:31] pkliks commented on #35
Doszła też wtyczka do edycji treści maila powitalnego - Ustawienia -> SB Welcome Email (ważne, że nie podawać tam jako loginu faktycznego loginu tylko zawsze e-mail, sam login w bazie nie może być równy mailowi, zawiera wtedy niedozwolone znaki)

[2016-11-29 21:46] pkliks commented on #23
@KrzysztofMadejski mógłbyś mi tu wrzucić screena z tego co aktualnie Ci się pojawia jak jest 404?

[2016-11-30 14:04] KrzysztofMadejski commented on #23
Dostaję Http Error 404 bez żadnej treści co objawia się następująco:

![kdp404](https://cloud.githubusercontent.com/assets/849975/20755126/205ffee2-b70e-11e6-8a41-9c6226301577.PNG)

PS. Widzę, że na stronie jest zainstalowana wtyczka "404page - your smart custom 404 error page"

[2016-11-30 14:06] pkliks commented on #23
No własnie to nie jest normalne. Przy braku ustawienia powinien się index z motywu ładować. Dzięki za info o tej wtyczce skróci mi czas szukania co powoduje ten problem ;)

[2016-11-30 14:21] pkliks commented on #23
http://kdp.dev.inovia.pl/asdsadsad/

Pytanie czy partnerzy ze stopki mają zostać czy tutaj ich ukryć?

[2016-11-30 14:22] pkliks commented on #19
Zmniejszone

[2016-11-30 14:54] pkliks commented on #18
@KrzysztofMadejski Dodałem edycję tych linków w ustawieniach Ogólne (menu w panelu admina) oraz proponuję te ikony wziąć z Font Awesome, wtedy można dodać na hover zmianę koloru, pytanie tylko czy coś z tego zbioru: http://fontawesome.io/icons/ byłoby ok pod IRC?

[2016-12-01 16:41] KrzysztofMadejski commented on #35
Potrzebna tu będzie captcha, bo już z automatu tworzeni są jacyś użytkownicy. (z automatu bo w domenie spamavert.com).

[2016-12-07 14:34] KrzysztofMadejski opened #37 "Wysyłanie maili do koordynatora - w CC kontakt@kodujdlapolski.pl"

[2016-12-07 14:34] KrzysztofMadejski commented on #34
Ok!

[2016-12-07 14:42] KrzysztofMadejski commented on #26
Jest ok, tylko jeszcze 15px margines między logiem, a opisem bo się zlewa.

[2016-12-07 14:43] KrzysztofMadejski commented on #25
Ta funkcja też powinna być lokalizowana na stronie Kontakt: http://kdp.dev.inovia.pl/en/contact/ (zapomniałem o tym).

[2016-12-07 14:49] KrzysztofMadejski commented on #23
Partnerzy zostają.

Zlokalizuj proszę "Go to homepage" na "Przejdź do strony głównej"

[2016-12-07 14:54] KrzysztofMadejski commented on #19
Github super, ale przestało embedować dyskusję na forum.
Działa -> http://kodujdlapolski.pl/projects/politikon/
Nie działa -> http://kdp.dev.inovia.pl/projects/politikon/

Też dobrze jakby była otoczona ramką tak jak Github. U góry przycisk linkujący wyświetlający nazwę linku ustawioną w edycji. W przypadku Politikona będzie to "Dyskusja na forum"

[2016-12-07 14:58] KrzysztofMadejski commented on #18
Zostawmy tego IRC z obrazkiem, bo nie znajduję w Font Awesome czegoś dedykowanego. Jak odpalimy Slacka, to bym dał ikonkę czatu, ale teraz ten IRC jest dość niszowy.

Problem: u mnie w Chrome nadal nie widać tych ikonek.

[2016-12-07 15:01] KrzysztofMadejski commented on #8
U mnie (Chrome) padding jest za mały i "w" się do brzegu przykleja. A może brake twardy przed "w" lepszy?

![padding](https://cloud.githubusercontent.com/assets/849975/20972814/6796fdaa-bc96-11e6-844c-337e3560f532.PNG)

[2016-12-07 15:06] KrzysztofMadejski commented on #4
Dajmy loga na środek jeszcze proszę.

[2016-12-07 15:06] KrzysztofMadejski commented on #37
@pkliks jeszcze mamy taką nową prośbę

[2016-12-15 17:37] pkliks commented on #37
@KrzysztofMadejski chodzi o te z projektów? (Tam w każdym razie ustawione)

[2016-12-15 17:40] #4 closed, assigned to nobody

[2016-12-15 17:41] pkliks commented on #8
Padding będzie tu lepszy na ewentualne zmiany w przyszłości

[2016-12-15 17:41] #8 closed, assigned to KrzysztofMadejski

[2016-12-15 17:43] #23 closed, assigned to pkliks

[2016-12-15 17:45] #25 closed, assigned to nobody

[2016-12-15 17:46] #26 closed, assigned to nobody

[2016-12-15 17:55] pkliks commented on #18
@KrzysztofMadejski podaj mi jeszcze proszę pełną specyfikację, bo sprawdzam to na różnych przeglądarkach/kompach, browserstacku i wszędzie są te ikonki prawidłowo także potrzebowałbym:
1. System (w tym wersja)
2. Jaka konkretnie wersja Chrome
3. Rozdzielczość

Jak to powyżej mi nie pomoże to możliwe, że jeszcze będę potrzebować listy wtyczek zainstalowanych do chrome, bo może któraś z nich coś kop

[2016-12-15 18:02] pkliks commented on #19
Nie wyświetliło się, bo z automatu przy przerzuceniu wszędzie kodujdlapolski.pl zmieniło się na kdp.dev.inovia.pl dla Politikona zmieniłem więc możesz już zobaczyć.
Link z tekstem otwórz w nowym oknie zostawiłem, bo to forum jest przeciętnie czytelne w tym iframe i warto zostawić ten link tam pod też.

[2016-12-15 18:02] #19 closed, assigned to nobody

[2016-12-15 18:05] #35 closed, assigned to nobody

[2016-12-16 10:46] KrzysztofMadejski commented on #18
Mój błąd,  AdBlock plus  1.12.4 usuwał ikonki.

[2016-12-16 10:46] #18 closed, assigned to pkliks

[2016-12-16 10:53] KrzysztofMadejski commented on #37
Tak, chodzi o te z projektów, dzięki!

[2016-12-20 08:50] KrzysztofMadejski commented on #37
Jest drugi osobny email, a nie CC.

[2016-12-27 19:43] pkliks commented on #37
Zmienione

[2016-12-27 19:43] #37 closed, assigned to nobody

[2017-01-17 11:24] KrzysztofMadejski commented on #14
![heatmap-946188-movement-desktop](https://cloud.githubusercontent.com/assets/849975/22018597/da10864c-dcaf-11e6-9193-23fcb5920661.jpg)
![heatmap-946188-click-desktop](https://cloud.githubusercontent.com/assets/849975/22018601/dc9363c6-dcaf-11e6-8718-74e3360784f6.jpg)
![heatmap-946188-scroll-desktop](https://cloud.githubusercontent.com/assets/849975/22018602/deab679e-dcaf-11e6-83fb-e92326a94e69.jp

[2017-01-17 11:24] KrzysztofMadejski commented on #14
Jakub Pawełczak pisze:

Hotjar skończył zbierać dane. W załączniku heatmapy strony KdP.

Mam takie obserwacje:
1. Dużo osób - 50% - nie dociera do części strony z listą projektów.
2. Większość klików to pozycja "Projekty".
3. Brak info w prostej formie jak można się zaangażować.

Sugestie:
a) W miejsce statystyk warto pokazać w 3 krokach jak można się zaangażować - np. 1. Potwierdź udział na fanpa

[2017-01-17 12:28] jpawelczak commented on #36
Zaczalem zbierac dane w hotjar jak ludzie korzystaja z tej podstrony.

Na pierwszy rzut oka moja obserwacja jest taka, że za dużo opcji po lewej w stosunku do ilości projektów ;)

[2017-01-17 14:11] WojtekSanko commented on #14
Hej,

Bardzo fajnie, że podpiąłeś stronkę do tego Hotjara.
Świetne pomysły co do zmian na stronie.

Skrótowo, przed dyskusją na żywo:
a) zgadzam się, że warto zrezygnować ze statystyk na rzecz 3 rodzajów call to action.
b) te bloki miały właśnie mieć funkcję call to action, jednak to się nie sprawdziło. Dobry pomysł, przerzucić wyżej projekty.
c) eksperci - wspaniale. Wyrzucamy "partnerzy", zamien

[2017-01-17 15:25] pawelmucha commented on #14
Z całej stopki "o nas" było wybierane, więc nie zaszkodzi pokazać to też w głównym menu. Podejrzewam, że wielu odwiedzających to ludzie nowi (mamy takie dane w Analyticsie?), więc dobrze by było ułatwić im poznanie czym jest KdP.

Popieram też wyciagnięcie projektów wyżej i pokazanie w prosty sposób jak dołączyć do KdP.

Może powinniśmy się zastanowić na co właściwie chcemy konwertować odwiedzając

[2017-01-17 17:02] jpawelczak opened #38 "Opis onboardingu na www"
Przerzucamy rozmowe o onboardingu tutaj:

Jakub napisał:
Infografika jak można się zaangażować - to należy pokazać na www, a także na ulotce, którą można dać nowym osobom na spotkaniach KdP, aby onboarding nowych członków trwał 3-5min, a nie 20 minut. Wg mnie nie należy niańczyć nowe osoby, a dać im wskazówki co mają ze sobą zrobić. Infografika - z jednej strony kroki oraz top 5 projektów z wszyst

[2017-01-17 17:21] jpawelczak commented on #14
Też wydaje mi się, że "O nas" powinno być góry skoro tyle klików jest. Partnerzy raczej też warto zostawić u góry jeśli planujemy zapraszać firmy.

Może takie menu, od lewej: Lokalne grupy, Projekty, Eksperci, Forum, (logo), Blog, Partnerzy, O nas, Kontakt, EN/PL. Zmiana języka chyba też się zmieści za 'Kontakt'.

Co o tym sądzicie?

[2017-01-23 17:02] jpawelczak opened #39 "Wyglad podstrony Eksperci"
Sugeruję zrobić podstronę Eksperci tak jak jest na demagog podstrona Zespół z tą zmianą, że zdjęcia osób są umiejscowić po lewej stronie tekstu: http://demagog.org.pl/o-nas/zespol/

Dodatkowo, dodamy pod imieniem i nazwskiem kategorie specjalizacji, np. product management, User Experience Design itd.

[2017-01-23 22:04] KrzysztofMadejski commented on #39
Czy Ci eksperci będą wspierać wszystkie brygady? Zastanawiam się, gdzie ta strona powinna zostać zalinkowana?

[2017-01-24 07:43] jpawelczak commented on #39
Tak, docelowo wszystkie brygady.

W wątku o przebudowie strony głównej sugeruję dodać w menu głównym Eksperci od razu za 'Projekty'. Jest to ok?

[2017-01-25 17:20] jpawelczak commented on #14
@KrzysztofMadejski razem z Michałem i Wojtkiem sugerujemy zacząć zmiany od super prostej 1 modyfikacji - warto schować cały element strony głównej jak w załączniku. Dzięki temu, element "Projekty" który obecnie jest niżej od razu pojawi się wyżej.

![element_do_schowania](https://cloud.githubusercontent.com/assets/17323740/22301292/d15383b6-e32a-11e6-8e01-a19b2b4ea612.JPG)

[2017-01-25 17:42] jpawelczak commented on #14
@KrzysztofMadejski jak można, zmnienmy jeszcze przycisk na stronie głównej "Pokaż wszystkie" w obszarze "Najbliższe spotkania" na "Wybierz spotkanie". Obecnie to przenosi na FB z wszystkimi spotkaniami, także call to action będzie teraz adekwatny do tego co chcemy osiągnąć :)

[2017-02-02 13:10] KrzysztofMadejski commented on #14
Przeniosłm statystkyi i cta na dół, dajcie znać co myślicie. Czy powinniśmy usunąć nagłowek "Projekty" i od razu je listować?

Co do spotkań: Moim zdaniem "Wybierz" sugruje wybranie jednego z 3 wyświetlanych, a "Zobacz wszystki" sugeruje, że jest więcej niż trzy. @jpawelczak  co o tym sądzisz?

[2017-02-09 05:21] jpawelczak commented on #14
@KrzysztofMadejski jest fajnie. Myślę, że trzeba spotkać się i zaprojektować najważniejszy element strony, czyli proces onboardingu (punk 1 z wiadomości jaką wkleiłeś) plus drobne poprawki.

Mamy może wersję beta, aby móc potestować różne zmiany strony głównej oraz testowo dodać podstronę Eksperci?

[2017-02-09 16:01] KrzysztofMadejski commented on #14
Już mamy: http://stage.kodujdlapolski.pl/ Bawcie się!

[2017-03-18 19:56] #32 closed, assigned to KrzysztofMadejski

[2017-06-11 20:05] ghostbuster91 opened #40 "Issus'y z githuba powinny przenosić na strone github a nie odwoływać się do api"

[2017-06-12 09:50] KrzysztofMadejski commented on #40
@pkliks to tak nie działało?

[2017-06-12 09:51] KrzysztofMadejski commented on #40
Przykład: ze strony https://kodujdlapolski.pl/projects/wtyczki-demagoga/ issues linkują np. do https://api.github.com/repos/kodujdlapolski/factchecker-plugin-chrome/issues/30

[2018-11-27 11:42] KrzysztofMadejski opened #44 "Warnings"
[code]

[2019-05-17 12:59] #40 closed, assigned to ddzieduch